.li {
    display: flex;
    font-family: fantasy;
    font-size: 35px;

}

.checkbox {
   margin-right: 2rem;
   font-family: fantasy;
   
}

.button {
    background-color: black;
    border-color: rgb(51, 238, 5);
    border-width: 8px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    font-size: 26px;
   
}

